.navBar {
    overflow: hidden;
    background-color: #1a1a1a;
    /* position: fixed; */
    top: 0;
    width: 100%;
    z-index: 1;
}

.navBar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navBar a:hover {
    background-color: #111;
    color: #4CAF50;
    border-radius: 10px;
}

.navBar a.active {
    background-color: #4CAF50;
    color: white;
}

.navBtn {
    margin-right: 5px;
}

.aboutTitle {
    text-align: center;
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.aboutText {
    text-align: center;
    font-size: 20px;
    margin: 50px 50px 0 50px;
}

label {
    display: block;
    text-align: center;
  }

.mapForm {
    text-align: center;
  }

 .bookHomez {
    text-align: center;
    color: #4CAF50;
    background-color: white;
    border: solid #4CAF50;
    border-radius: 5px;
 } 

 .getStarted {
    text-align: center;
    color: #4CAF50;
    background-color: white;
    border: solid #4CAF50;
    border-radius: 5px;
 }

.homeTitle {
    text-align: center;
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.signupTitle {
    text-align: center;
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.signupForm {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.loginTitle {
    text-align: center;
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.rideTitle {
    text-align: center;
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.laSkyline {
    width: 100%;
}

.footer {
    position: static;
    left: 0;
    padding-bottom: 5px;
    bottom: 0;
    width: 100%;
    background-color: #1a1a1a;
    color: white;
    text-align: center;
}

.footer p {
    padding-top: 10px;
}

.behindWheel {
    width: 100%;
}

.rideParagraph {
    color: #1a1a1a;
    padding: 20px;  
    border-radius: 10px;
    width: 30%;
    height: 60%;
    position: absolute;
    background: rgba(255,255,255,0.7);

}

.imageTextContainer {
    position: relative;
  }
  
  .rideParagraph {
    top: 20%;
    right: 10%;
  }
  